/* --- ipads, tablet ---- */
@media(max-width:880px){

    /* --- header section --- */
    .header .navbar .menu-bar{
        display: block;
        cursor: pointer;
    }


    .header .navbar .menu-bar.fa-times{
        transform: rotate(180deg);
        transition: .3s;
    }

    .header .navbar .nav-links{
        position: absolute;
        left: 0;
        right: 0;
        top: 95%;
        background: var(--pure-white-color);
        border-top: 1px solid var(--light-gray-color);
        transition: .3s;
        clip-path:  polygon(0 0, 100% 0, 100% 0, 0 0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }



    .header .navbar .nav-links.active{
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar .nav-links li a{
        margin-left: 0;
        padding: 10px 55px;
        display: block;
    }

    /* --- home section --- */
    .home-child h1{
        font-size: 40px;
        line-height: 45px;
    }
    .home-child p{
        font-size: 15px;
    }

    .home-child .btn{
        font-size: 15px;
        padding: .5rem 1.5rem;
    }


    .home-image{
        flex-basis: 45%;
    }

    /* --- collection section css ---- */
    .collection-box{
        grid-template-columns: repeat(2, 1fr);
    }

    /* --- why choose us section ----- */

    .qualities{
        grid-template-columns: repeat(1, 1fr);
    }
}



/* --- mobile devices --- */

@media(max-width: 680px){

    /* --- header section --- */
    .header .navbar .logo a {
        font-size: 18px;
    }

    .header .navbar .nav-links{
     display: none;
    }

    .header .navbar .nav-links{
        transition: .3s;
        clip-path:  polygon(0 0, 100% 0, 100% 0, 0 0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }



    .header .navbar .nav-links.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar .nav-links li a{
        margin-left: 0;
        padding: 10px 45px;
        display: block;
    }

    .shopping-cart{
        margin-left: 0px;
    }

    
    /* --- home section --- */
    #home{
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 0;
    }

    .home-child{
        text-align: center;
    }

    .home-image{
        padding-top: 3rem;
        margin-bottom: 1rem;
    }

    .home-child h1{
        font-size: 30px;
        line-height: 38px;
        
    }

    .home-child p{
        font-size: 15px;
    }

    /* --- brands log section --- */

    .brands-logo{
        padding: 20px 0px;
        justify-content: space-around;
    }

    .brands-logo .logo-item{
        flex-basis: 21%;
    }


    /* --- collection section css --- */

    .collection-box{
        grid-template-columns: repeat(1, 1fr);
    }

    /* ----- why choose us section css ----- */

    #why-choose-us{
        flex-direction: column;
    }

    .choose-datils{
        margin-bottom: 50px;
    }

    .qualities{
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* ---- footer secito css ---- */

    .footer .footer-container{
        flex-basis: 90%;
    }

    .footer .footer-container .social-links li a{
        color: var(--pure-white-color);
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin: 0 6px;
    }
}