/* --- small srceen laptop --- */
@media(max-width:991px){

}

/* --- ipads, tablet ---- */
@media(max-width:820px){

    /* --- header section --- */
    .header .navbar .menu-bar{
        display: block;
        cursor: pointer;
    }



    .header .navbar .menu-bar.fa-times{
        transform: rotate(180deg);
        transition: .3s;
    }

    .header .navbar .nav-links{
        position: absolute;
        left: 0;
        right: 0;
        top: 99%;
        background: var(--pure-white-color);
        border-top: 1px solid black;
        transition: .3s;
        clip-path:  polygon(0 0, 100% 0, 100% 0, 0 0);
    }



    .header .navbar .nav-links.active{
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar .nav-links li a{
        margin-left: 0;
        padding: 10px 45px;
        display: block;
    }

    /* --- home section --- */
    .home-child h1{
        font-size: 40px;
        line-height: 45px;
    }
    .home-child p{
        font-size: 15px;
    }

    .home-child .btn{
        font-size: 15px;
        padding: .5rem 1.5rem;
    }



    .home-image{
        flex-basis: 45%;
    }
}
/* --- mobile devices --- */

@media(max-width: 580px){

    /* --- header section --- */
    .header .navbar .logo a {
        font-size: 18px;
    }

    .header .navbar .nav-links{
     display: none;
    }

    .shopping-cart{
        margin-left: 0px;
    }

    
    /* --- home section --- */
    #home{
        flex-direction: column;
    }

    .home-child{
        order: 2;
        text-align: center;
        padding-bottom: 2rem;
    }

    .home-image{
        order: 1;
        padding-top: 3rem;
    }

    .home-child h1{
        font-size: 30px;
        line-height: 38px;
        
    }

    .home-child p{
        font-size: 15px;
    }

    /* --- brands log section --- */

    .inner-brands-logo{
        padding-top: 22rem;
    }

    .brands-logo{
        padding: 20px 0px;
        justify-content: space-evenly;
    }

    .brands-logo .logo-item{
        flex-basis: 23%;
    }
}